.pag-gitsearch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 2% 10%;
}

.pag-gitsearch-card {
    width: 100%;
    background: var(--pag-color-bg-quaternary);
    border-radius: 10px;
    padding: 40px;
}
PÁGINA GITSEARCH
.pag-gitsearch-input {
    width: 30%;
    border: 1px solid var(--pag-color-bg-tertiary);
    border-radius: 3px;
    padding: 10px;
    color: var(--pag-color-font-secondary);    
    font-weight: bold;
}

.pag-gitsearch-input::placeholder {
    font-weight: lighter;
}
