.pag-gitsearch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 20px 60px;
}

.pag-gitsearch-card {
    justify-content: flex-start;
    width: 100%;
    background: var(--pag-color-bg-quaternary);
    border-radius: 10px;
    padding: 40px;
}

.pag-gitsearch-input {
    width: 50%;
    border: 1px solid var(--pag-color-bg-tertiary);
    border-radius: 3px;
    padding: 5px 10px;
    color: var(--pag-color-font-secondary);    
    font-weight: bold;
}

.pag-gitsearch-input::placeholder {
    font-weight: lighter;
}
